@using Showaspnetcore.Data
@model Showaspnetcore.Data.ResultadoExame

@{
    Layout = "_LayoutAdmin";
}

<br />

<form asp-area="Admin" asp-controller="Resultado" asp-action="UploadFiles" enctype="multipart/form-data" method="post">

    @Html.HiddenFor(f => f.ResultadoExameGuid)
    <div class="box-body">


        @if (TempData["NossoErro"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["NossoErro"]>
                <a asp-controller="Resultados" asp-action="Index" class="alert-link">Voltar</a>
            </div>
        }

        <div class="clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                Paciênte: @Model.Paciente.Name <small></small>
                            </h2>
                            <h4>
                                Exame: @Model.Exame <small></small>
                            </h4>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Inclusão de arquivos</div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3"><input type="file" name="files" multiple /></span>
                                    <input type="text" class="form-control" name="txtDescricao" placeholder="Descrição do arquivo">
                                    <input type="submit" value="Adicionar" class="btn btn-success" />
                                </div>

                            </div>
                        </div>
                        <hr />
                        <table class="table">
                            <tr>
                                <th>Descrição</th>
                                <th>Arquivo</th>
                                <th>Tamanho</th>
                                <th>Deletar</th>
                            </tr>
                            <tbody>
                                @foreach (var image in Model.Imagens)
                                {
                                    <tr>
                                        <td>@image.Descricao</td>
                                        <td>@image.Formato</td>

                                        <td>@((image.Length/1024).ToString("N2")) KB</td>
                                        <td class="project-actions">
                                            <a asp-area="Admin" asp-controller="Resultado" asp-action="DeleteFile"
                                               asp-route-imagemGuid="@image.ImagemGuid"
                                               asp-route-resultadoGuid="@image.ResultadoExameGuid"
                                               class="btn btn-white btn-sm"><i class="fa fa-folder"></i>Deletar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>